[submodule "backend/vaa-strapi/strapi-plugin-import-export-entries"]
	path = backend/vaa-strapi/strapi-plugin-import-export-entries
	url = https://github.com/OpenVAA/strapi-plugin-import-export-entries.git
