.DS_Store
coverage
node_modules
dist
build
./temp
**/documentation
.cache
**/*.json
strapi-plugin-import-export-entries

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package.json
package-lock.json
yarn.lock
.strapi-updater.json
