# NB! Because of prettier’s limitations, these won’t have an effect when prettier is run at the repo root
# If these are changed, apply to changes to the root .prettierignore as well
.DS_Store
coverage
node_modules
dist
build
./temp
**/documentation
.cache
**/*.json
.strapi-updater.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package.json
package-lock.json
yarn.lock
