@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-100 text-md;
  }
  h1 {
    @apply text-center text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  p {
    @apply mb-16;
  }
  p:last-child {
    @apply mb-0;
  }
  ol {
    @apply list-decimal;
  }
  hgroup p {
    @apply my-sm text-center first:mt-0;
  }
  legend {
    @apply w-full;
  }
  a:link:not(.btn),
  a:active:not(.btn),
  a:visited:not(.btn),
  a:hover:not(.btn),
  a[onclick]:not(.btn) {
    @apply text-primary;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

@layer components {
  /* Override DaisyUI components here */

  /* Reset font sizes to base */
  .btn,
  .input,
  .textarea,
  .select {
    @apply text-md;
  }

  /* Style buttons */
  .btn {
    @apply px-10 font-normal;
  }
  .btn-ghost {
    @apply text-primary;
  }
  .btn-ghost.btn-disabled,
  .btn-ghost[disabled],
  .btn-ghost:disabled {
    background-color: transparent;
  }

  /* Drawer 
   * Fix screen height on iOS Safari */
  .drawer {
    @apply min-h-screen;
  }

  /* Custom styles */

  /**
   * Small text in all caps used for, e.g., Likert button labels and data labels in entity details
   */
  .small-label {
    @apply text-xs font-normal uppercase text-secondary;
  }
}

@layer utilities {
  /* Define custom named styles here */

  /**
   * Make an element full width with a page's main content canceling out paddings.
   * Be sure to update this if the main content padding changes.
   * TODO: Create dedicated Tailwind spacing terms for content padding.
   */
  .edgetoedge-x {
    @apply -ml-safelgl -mr-safelgr w-screen pl-safelgl pr-safelgr match-w-xl:mx-0 match-w-xl:w-full match-w-xl:rounded-sm;
  }
}
