@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-base-100 text-md;
  }
  h1 {
    @apply text-center text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  p {
    @apply mb-16;
  }
  p:last-child {
    @apply mb-0;
  }
  ol {
    @apply list-decimal;
  }
  hgroup p {
    @apply my-sm text-center first:mt-0;
  }
  legend {
    @apply w-full;
  }
  a:link:not(.btn),
  a:active:not(.btn),
  a:visited:not(.btn),
  a:hover:not(.btn),
  a[onclick]:not(.btn) {
    @apply text-primary;
  }
  [onclick] {
    @apply cursor-pointer;
  }
}

@layer components {
  /***********************************
   * Override DaisyUI components here 
   ***********************************/

  /* Reset font sizes to base */
  .btn,
  .input,
  .textarea,
  .select {
    @apply text-md;
  }

  /* Style buttons */
  .btn {
    @apply min-h-touch min-w-touch border-none font-normal;
  }
  .btn-ghost {
    @apply text-primary;
  }

  /* Drawer 
   * Fix screen height on iOS Safari */
  .drawer {
    @apply h-screen;
  }

  /***********************************
   * Custom styles
   ***********************************/

  /**
   * Small text in all caps used for, e.g., Likert button labels and data labels in entity details
   */
  .small-label {
    @apply text-xs font-normal uppercase text-secondary;
  }
}

@layer utilities {
  /* Define custom named styles here */
}
